.App {
}
.todolist {
  max-width: 900px;
  width: 100%;
  margin: 50px auto;
}
.todolist-header {
  font-size: 25px;
  margin-bottom: 30px;
}
.todolist {
  margin: 100px auto;
}
table {
  width: 100%;
  text-align: left;
  background: #ffffff;
  padding: 20px 10px 30px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
thead th {
  padding: 15px;
}
thead .action {
  padding-bottom: 20px;
}
thead button {
  background: #adb5bd;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
tbody tr th {
  padding: 15px;
  font-weight: normal;
}
tbody tr {
  background: #ffffff;
}
tbody tr:nth-child(odd) {
  background: #f7f8fb;
}
tbody .active th {
  color: #abacac;
}
